<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.defaultapplication.user.dao.UserMapper">

    <sql id="columnUser">
          user_id,
          user_name,
          password,
          address,
          "position",
          divisi,
          flag,
          work_station,
          lokasi_id,
          parent_id
    </sql>

    <insert id="saveUser" parameterType="User">
        insert into
        app_default.m_users(
            user_name,
            password,
            address,
            position,
            divisi,
            flag,
            work_station,
            last_update,
            lokasi_id,
            update_by,
            created_date,
            created_by,
            parent_id)
        values(
            #{userName},
            #{password},
            #{address},
            #{position},
            #{divisi},
            'Y',
            'tes',
            now(),
            #{lokasiId},
            #{createdBy},
            now(),
            #{createdBy},
            #{parentId}
        )
    </insert>

    <select id="getUserById" parameterType="int" resultType="User">
        SELECT
          <include refid="columnUser"/>
        FROM
          app_default.m_users
        where
            user_id = #{value}
        and
            flag='Y';
    </select>

    <select id="getUserByObject" parameterType="User" resultType="User">
        select
            <include refid="columnUser"/>
        from
            app_default.m_users
        where
            user_id = #{userId}
        and
            flag='Y';
    </select>

    <select id="getUserByUserName" parameterType="String" resultType="User">
        select
            <include refid="columnUser"/>
        from
            app_default.m_users
        where
            user_name = #{value}
        and
            flag='Y';
    </select>

    <select id="getUserByUserNameUser" parameterType="User" resultType="User">
        select
            <include refid="columnUser"/>
        from
            app_default.m_users
        where
            user_name = #{userName}
        and
            flag='Y';
    </select>

    <select id="getAllUser" resultType="User">
        SELECT
            <include refid="columnUser"/>
        FROM
          app_default.m_users
        WHERE
          flag='Y';
    </select>

    <select id="countUserByObject" parameterType="User">
        select
            count(*)
        from
            app_default.m_users
        where
            user_name = #{userName}
        and
            flag='Y'
    </select>

    <select id="countUserByUserName" parameterType="String">
        select
            count(*)
        from
            app_default.m_users
        where
            user_name = #{value}
        and
            flag='Y'
    </select>

    <select id="authorizeLogin" parameterType="User" resultType="int">
        select
            count(*)
        from
            app_default.m_users
        where
            user_name = #{userName} and password=#{password}
        and
            flag='Y'
    </select>

    <update id="updateUser" parameterType="User">
        update
            app_default.m_users
        set
            user_name = #{userName},
            password = #{password},
            address = #{address},
            "position" = #{position},
            division = #{divisi},
            last_update = now(),
            update_by = #{updateBy},
            parent_id = #{parentId}
        where
            user_id = #{userId}
        and
            flag='Y'
    </update>


    <update id="deleteUser" parameterType="User">
        update
            app_default.m_users
        set
            flag = 'N',
            last_update = now(),
            update_by = #{updateBy}
        where
            user_id = #{userId}
        and
            flag='Y'
    </update>


</mapper>